CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=https://ookamobccikmokomnncjfngnmfhkohdc.chromiumapp.org
SCOPE=https://www.googleapis.com/auth/calendar.readonly
CALENDAR_API_URL=https://www.googleapis.com/calendar/v3/calendars/primary/events
