/* 全体の設定 */
body {
  margin: 0;
  padding: 0;
  width: 550px;
  vertical-align: middle;
}

/* ヘッダ領域の設定 */
header {
  width: 100%;
  padding: 0;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #e6e6fa;
}

.header-wrapper .subject {
  font-size: large;
  font-weight: bolder;
  margin-left: 10px;
}

.header-wrapper .navi {
  display: flex;
  margin: auto 10px auto auto;
  list-style-type: none;
}

.header-wrapper .navi .material-icons {
  font-size: 24px;
  cursor: pointer;
}

main {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* 次の予定までの表示領域の設定 */
.next-schedule {
  background-color: #f5f5f5;
}

.next-schedule p {
  margin: auto auto auto 10px;
}

table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
  border-collapse: collapse;
  text-align: center;
}

table thead {
  width: 100%;
  background-color: azure;
}

table tr {
  border-bottom: solid 1px #eee;
}

table .start-time {
  width: 20%;
}

table .title {
  width: 60%;
}

table .hang-out {
  width: 20%;
}

table tbody {
  font-size: 24px;
}

table tbody .start-time-data {
  font-size: inherit;
  color: #dcdcdc;
}

table tbody .title-data {
  font-size: 18px;
}

table tbody .note-data {
  font-size: 16px;
}
