header {
  min-width: 550px; /* your desired width */
  max-width: 100%;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #e6e6fa;
}

.header-wrapper .subject {
  font-size: large;
  font-weight: bolder;
  margin-left: 10px;
}

.header-wrapper .navi {
  display: flex;
  margin: auto 10px auto auto;
  list-style-type: none;
}

.header-wrapper .navi .material-icons {
  font-size: 24px;
  cursor: pointer;
}

body {
  margin: 0 auto;
  width: 550px;
  vertical-align: middle;
}
